<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bakincakes.legacy" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Home -->
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Family -->
        <activity
            android:name=".FamilyActivity"
            android:label="@string/title_activity_family" />

        <!-- Creative -->
        <activity
            android:name=".CreativeActivity"
            android:label="@string/title_activity_creative" />
        <activity
            android:name=".FortuneActivity"
            android:label="@string/title_activity_fortune" >
        </activity>
        <activity
            android:name=".FoodActivity"
            android:label="@string/title_activity_food" >
        </activity>
        <activity
            android:name=".PopularityActivity"
            android:label="@string/title_activity_popularity" >
        </activity>
        <activity
            android:name=".AthleticActivity"
            android:label="@string/title_activity_athletic" >
        </activity>
        <activity
            android:name=".KnowledgeActivity"
            android:label="@string/title_activity_knowledge" >
        </activity>
        <activity
            android:name=".LoveActivity"
            android:label="@string/title_activity_love" >
        </activity>
        <activity
            android:name=".DevianceActivity"
            android:label="@string/title_activity_deviance" >
        </activity>
        <activity
            android:name=".NatureActivity"
            android:label="@string/title_activity_nature" >
        </activity>
        <activity
            android:name=".PenaltiesActivity"
            android:label="@string/title_activity_penalties" >
        </activity>
        <activity
            android:name=".FamilySettingsActivity"
            android:label="@string/title_activity_family_settings" >
        </activity>
    </application>

</manifest>
